@import url("https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  --primary-color: rgb(20, 139, 139);
  --text-light: white;
  --font-main:
    "Saira", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode",
    Geneva, Verdana, sans-serif;
  --dummy-color: rgb(170, 170, 170);
}

* {
  margin: 0px;
  padding: 0px;
  font-family: var(--font-main);
}

nav {
  background-color: var(--primary-color);
  padding: 10px;
  color: var(--text-light);
}

.student-directory {
  /* height:70px; */
  font-size: 40px;
  font-weight: 600;
  /* padding: 0px 10px; */
  width: 100%;
}

.school-name {
  font-family: saira;
  font-size: 25px;
  /* padding: 0px 10px; */
}

.sub-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 20px;
  height: 100px;
}

.search {
  height: 40px;
  width: 24%;
  padding: 5px;
  box-sizing: border-box;
  font-size: 15px;
  border-radius: 7px;
}

.search-btn {
  background-color: var(--primary-color);
  border: none;
  color: var(--text-light);
  cursor: pointer;
}

.card-container {
  /* height: 200px; */
  width: auto;
  margin: 20px;
  border-radius: 7px;
  /* box-sizing: border-box; */
  /* padding: 10px; */
  display: flex;
  justify-content: center;
  gap: 29px;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  height: 300px;
  /* background-color: brown; */
  width: 32%;
  box-shadow: 0px 0px 4px 0px rgb(0, 0, 0);
  border-radius: 7px;
  padding: 17px;
  box-sizing: border-box;
}

.dp {
  height: 125px;
  width: 125px;
  border-radius: 7px;
  background-color: var(--dummy-color);
  object-fit: fill;
}

.intro {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  gap: 25px;
}

.intro-right {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.blood,
.roll {
  display: flex;
  /* justify-content: center; */
  gap: 17px;
  align-items: center;
}

.roll {
  font-weight: 500;
  font-style: italic;
}

.bgroup-text {
  font-weight: 700;
  font-size: 17px;
}

.bgroup-box {
  height: auto;
  width: auto;
  padding: 0px 5px;
  background-color: var(--primary-color);
  border-radius: 7px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  color: var(--text-light);
  font-weight: 700;
}

.name {
  font-size: 22px;
  font-weight: 500;
  overflow: hidden;
  height: auto;
  width: auto;
  /* background-color: red; */
  word-wrap: break-word;
}

hr {
  margin-top: 17px;
}

.btn-container {
  /* background-color: rebeccapurple; */
  width: 100%;
  height: 47%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn-container-inside {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  border: 0px;
  border-radius: 7px;
  padding: 10px 20px;
  cursor: pointer;
  box-sizing: border-box;
  width: 47%;
  color: var(--text-light);
  font-size: 15px;
}

.motto {
  height: 100px;
  background-color: var(--primary-color);
  color: var(--text-light);
  font-size: 40px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1400px) {
  .card {
    width: 45%;
  }
}

@media (max-width: 1024px) {
  .card {
    width: 100%;
  }

  .search {
    width: 40%;
  }

  .sub-head {
    display: flex;
    flex-direction: column;
    gap: 7px;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px;
    height: 100px;
    margin: 20px;
  }

  .search {
    height: 40px;
    width: 90% !important;
    padding: 5px;
    box-sizing: border-box;
    font-size: 15px;
    border-radius: 7px;
  }

  .card-container {
    padding-top: 20px;
  }
}

/* @media (max-width: 768px) {
  .student-directory {
    font-size: 28px;
  }
  
  .sub-head {
    flex-direction: column;
    gap: 15px;
    height: auto;
  }
  
  .search {
    width: 80%;
  }
  
  .intro {
    flex-direction: column;
    gap: 15px;
  }
} */

@media (max-width: 480px) {
  nav {
    padding: 5px;
  }

  .student-directory {
    font-size: 22px;
  }

  .school-name {
    font-size: 18px;
  }

  .card {
    width: 100%;
    height: auto;
    padding: 12px;
  }

  .dp {
    height: 100px;
    width: 100px;
  }

  .name {
    width: 100%;
  }

  .motto {
    font-size: 24px;
  }

  .btn-container-inside {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 7px;
    margin-top: 7px;
    align-items: center;
  }

  .btn {
    width: 100%;
  }
}
