@import url(https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap);
.search-btn,
nav {
  background-color: var(--primary-color);
  color: var(--text-light);
}
.bgroup-box,
.btn,
.card,
.search {
  box-sizing: border-box;
}
:root {
  --primary-color: rgb(20, 139, 139);
  --text-light: white;
  --font-main:
    "Saira", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode",
    Geneva, Verdana, sans-serif;
  --dummy-color: rgb(170, 170, 170);
}
body {
  background-color: rgb(240, 240, 240);
}
* {
  margin: 0;
  padding: 0;
  font-family: var(--font-main);
}
nav {
  padding: 10px;
}
.student-directory {
  font-size: 40px;
  font-weight: 600;
  width: 100%;
}
.school-name {
  font-family: saira;
  font-size: 25px;
}
.sub-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
  height: 100px;
}
.search {
  height: 40px;
  width: 24%;
  padding: 7px;
  font-size: 15px;
  border-radius: 17px;
}
.search-btn {
  border: none;
  cursor: pointer;
}
.bgroup-box,
.card,
.card-container {
  border-radius: 17px;
}
.card-container {
  width: auto;
  margin: 20px;
  display: flex;
  justify-content: center;
  gap: 29px;
  align-items: center;
  flex-wrap: wrap;
}
.card {
  height: 250px;
  width: 32%;
  box-shadow: 0 0 4px 0 #000;
  padding: 17px;
  background-color: white;
}
.dp {
  height: 125px;
  width: 125px;
  border-radius: 50%;
  background-color: var(--dummy-color);
  object-fit:cover;
}
.bgroup-box,
.name {
  height: auto;
  width: auto;
}
.bgroup-box,
.motto {
  background-color: var(--primary-color);
  color: var(--text-light);
  display: flex;
}
.intro {
  display: flex;
  gap: 25px;
}
.intro-right {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.blood,
.roll {
  display: flex;
  gap: 17px;
  align-items: center;
}
.roll {
  font-weight: 500;
  font-style: italic;
}
.bgroup-text {
  font-weight: 700;
  font-size: 17px;
}
.bgroup-box {
  padding: 2px 10px;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}
.name {
  font-size: 22px;
  font-weight: 500;
  overflow: hidden;
  word-wrap: break-word;
}
hr {
  margin-top: 17px;
}
.btn-container {
  width: 100%;
  height: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  /* background-color: rebeccapurple; */
  flex-direction: column;
}
.btn-container-inside {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn {
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  height: 50px;
  width: 50px;
  color: var(--text-light);
  font-size: 15px;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}
.motto {
  height: 100px;
  font-size: 40px;
  font-weight: 600;
  justify-content: center;
  align-items: center;
}

.emergency-btn {
  padding: 10px 20px;
  width: 47%;
  border-radius: 17px;
}
@media (max-width: 1400px) {
  .card {
    width: 45%;
  }
}
@media (max-width: 1024px) {
  .card {
    width: 100%;
  }
  .sub-head {
    display: flex;
    flex-direction: column;
    gap: 7px;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    height: 100px;
  }
  .search {
    height: 40px;
    width: 90% !important;
    padding: 5px;
    box-sizing: border-box;
    font-size: 15px;
    border-radius: 7px;
  }
  .card-container {
    padding-top: 20px;
  }
}
@media (max-width: 480px) {
  nav {
    padding: 5px;
  }
  .student-directory {
    font-size: 22px;
  }
  .school-name {
    font-size: 18px;
  }
  .card {
    width: 100%;
    height: auto;
    padding: 12px;
  }
  .dp {
    height: 100px;
    width: 100px;
  }
  .name {
    width: 100%;
  }
  .motto {
    font-size: 24px;
  }
  .btn-container-inside {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
    align-items: center;
  }

  .emergency-btn {
    width: 50%;
  }
}
